* {
    padding: 0px;
    margin: 0px;
}

a {
    padding: 13px;
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    text-align: center;
    flex: 1 0 auto;
}

.head {
    width: 100%;
    height: 60px;
    background: #605CA8;
    display: flex;
}

ul {
    margin-left: 4em;
    width: 50%;
    display: flex;
}

li {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-around;
    color: white;
    list-style: none;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #545096;
    text-align: center;
    opacity: 0.5;
}

li:hover {
    background-color: #2c2872;
    opacity: 1;
}

.middle {
    display: flex;
}

.section {
    flex: 0 1 12em;
    height: 100vh;
    background-color: #222D32
}

.aside {
    height: 100vh;
    flex: 1 0 auto;
    background-color: #ECF0F5;
}

p {
    font-size: 1.8em;
    color: white;
    align-self: center;
    padding-left: 2px;
}